body {
  margin: 0;
  padding: 1% 10% 10% 10%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Times New Roman', serif, 'Noto Sans CJK SC';
  font-size: 100%;
}
img {
  max-width: 20vw;
}
details {
  margin-bottom: 40px;
}
.trans-result {
  padding: 1% 5% 0% 5%;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
}
.picture {
  flex: 0 1 auto;
} .hide {
  display: none;
}
#pure_text_result .paragraph {
  margin-bottom: 43px;
}
#rich_text_result {
  font-family: "Noto Sans CJK SC","Lucida Grande","Helvetica Neue",Helvetica,"Hiragino Sans GB","Microsoft YaHei","Apple Color Emoji","Emoji Symbols Font","Segoe UI Symbol",Arial,sans-serif;
  font-size: 14px;
}
.color-reversed {
  background: black;
  color: white;
}
